.header{
  font-family:arial;
  font-size: 2vw;
  font-weight:10;
  text-align:center;
  border:soild
}
body{
  background-color: rgb(173,216,230);
  color: rgb(64,64,64)
}
h1{
  border:solid white 5px;
  background-color: rgb(180,230,240);
  margin-left: 1px;
}
h3{
  font-size: 3vw;
  text-align:center;
  font-weight:10;
  font-family:Optima
}

.intro{
  font-size: 25px;
  font-weight:lighter;
  font-family:Optima;
}
#pronouns{
  font-weight:lighter;
  color: white;
  font-size: 30px;
  font-family:cursive;
}

#paraone{
  color: grey;
  font-family:Optima;
  font-size: 20px;
  padding-left: 40px;
}
#paratwo{
  color: grey;
  font-family:Optima;
  font-size: 20px;
  padding-left: 40px
}
#emph{
  font-weight:100;
  font-size: 20px;
  font-style: italic;
}
#strike{
  text-decoration: line-through;
}
