/* nav {
  dispay:flex;
  width:40vw;
  justify-content:right:
  flex-wrap: wrap;
  margin: 30px auto 30px;
} */
@media screen and (min-width:600px){
  #selfimg{
    display:block;
  }
  #Headsite h1{
    font-size:50px;
  }

}
@media screen and (max-width:701px){
  #selfimg{
    display:none;
  }
  #Headsite h1{
    font-size:25px;
  }
}

body{
  padding:0px;
  margin: 0px;
  background-color: #F8F4F9;
  font-family:"Open Sans";
}
#selfimg{
  width:240px;
  height: 295px;
  margin-left: auto;
  margin-right:auto;
  padding-top: 10px;
}

p{
  font-family:"Open Sans" ;
  color:#6B4B3E
}

#HeadSite{
  font-family:"Prata";
  text-align:center;
  overflow:hidden;
  padding:0px;
  margin: 0px;
  border:soild;

}

#meFacts{
  font-size: 20px;
  font-weight:lighter;
  text-align:center;
  font-family:"Prata";

}

button{
  font-family:"Open Sans";
  font-size:15px;
  font-weight:lighter;
  text-align:center;
  padding: 1vh 1vw;
  margin-top: 1vh;
  position:relative;
  background-color: #9AB7D3;
  border-color:#F8F4F9;
  color:#F8F4F9;
  margin-bottom: 10px;
}
button:hover{
  border:#F5D2D3 solid 4px;
  font-weight:bolder;
}
button:active{
  color:#F5D2D3;
}

h1{
  font-size: 50px;
  border:solid #F5D2D3 5px;
  background-color: #9AB7D3;
  margin-left: 1px;
  color:#F8F4F9;
}
h5, #myself{
  color:#6B4B3E;
  font-size: 40px;

}
.intro{
  font-size: 40px;
  margin-left: 3vw;
  color:#6B4B3E;
  font-family:"Prata";
}

#pronouns{
  color:#6B4B3E;
  background-color:#9AB7D3;
}

#paraone{

  font-family:"Open Sans";
  font-size: 35px;
  margin-left: 3vw;
  margin-right: 3vw;
}

#learn{
  color: #6B4B3E;
  font-family:"Open Sans";
  font-size: 20px;
  margin-left: 20px;
}

.paratwo{
  font-family: "Open Sans";
  font-size: 20px;
  margin-left: 40px;
}

#strike{
  text-decoration: line-through;
}

#links{
  padding-top: 40px;
  font-weight:lighter;
  font-family:"Playfair Display";
  color:#9AB7D3;
  font-size: 15px;
  text-align:center;
}

.bullets{
  font-weight:lighter;
  font-family:"Playfair Display";
  color: #6B4B3E;
  font-size: 20px;
}
.emph{
  font-weight:100;
  font-size: 20px;
  font-style: italic;
}
#mefacts{
  font-size: 40px;
}

#click{
  font-size: 30px;
}

#img1{
  padding-left: 5vw;
  width:240px;
  height: 295px;
  display: grid;
}
#img2{
  padding-left: 3vw;
  width:295px;
  height: 240px;
  display: grid;
  grid-template-columns: 60vw 10vw;
}
#img3{
  padding-left: 3vw;
  width:290px;
  height: 245px;
  display: grid;
  grid-template-columns: 20vw 40vw;
}
#text1,#text2,#text3{
  font-size: 20px;
  display: grid;
  text-align: center;
  grid-template-columns: 20vw 30vw;
}
