
body{
  padding:0px;
  margin: 0px;
  background-color: rgb(135,195,240);
  font-family:"Open Sans";
}
p{
  font-family:"Open Sans" ;
  color:rgb(252,244,221);
}
#HeadSite{
  font-family:Prata;
  font-size: 5vw;
  text-align:center;
  overflow:hidden;
  padding:0px;
  margin: 0px;
  border:soild
}
#selfimg{
  width:250px;
  height: 295px;
  position:relative;
}

#meFacts{
  font-size: 20px;
  font-weight:lighter;
  text-align:center;
  font-family:"Prata";
  color:#FCF4DD
}
button{
  font-family:"Open Sans";
  border-radius: 8px;
  padding: 1vh 3vw;
  margin-top: 1vh;
  position:relative;
  background-color: #7FADA5;
  color:black
}
button:hover{
  border:white solid 3px;
}
button:active{
  color:#4a4c4d;
}

h1{
  border:solid white 5px;
  background-color: rgb(252,244,221);
  margin-left: 1px;
  color:rgb(244,204,46);
}
h5, #myself{
  color:rgb(40,158,242)
}
.intro{
  font-size: 25px;
  font-weight:lighter;
  text-align:center;
  font-family:"Prata";
}

#pronouns{
  color:rgb(255,204,56);
  background-color: rgb(40,158,242);
  font-family:"Open Sans";
}

#paraone{
  color: rgb(255,204,56);
  font-family:"Open Sans";
  font-size: 35px;
  margin-left: 7vw;
  margin-right: 3vw;
}

#learn{
  color: rgb(255,209,236);
  font-family:"Open Sans";
  font-size: 20px;
  margin-left: 1vw;
  margin-right: .5vw;
}
#paratwo{
  color:rgb(255,204,56);
  font-family: "Open Sans";
  font-size: 20px;
  margin-left: 11vw;
  margin-right: 7vw;
}

#strike{
  text-decoration: line-through;
}
h3{
  font-weight:lighter;
  font-family:"Playfair Display";
  color:rgb(252,244,221);
  background-color:rgb(40,158,242) ;
  font-size: 20px;
  text-align:center;
}
.bullets{
  font-weight:lighter;
  font-family:"Playfair Display";
  color: rgb(255,209,236);
  font-size: 20px;
}
.emph{
  font-weight:100;
  font-size: 20px;
  font-style: italic;
}
